body{
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
#grid{
    display: flex;
    flex-wrap: wrap;
    width: 64em;
    height: 64em;
}

.square{
    width: calc(100%/16);
    aspect-ratio: 1/1;
    background-color:blue;
}